.status-active {
    background-color: green;
    color: white;
    border-radius: 50%;
    display: inline-block;
    width: 10px;
    height: 10px;
}
.status-not-active {
    background-color: gray;
    color: white;
    border-radius: 50%;
    display: inline-block;
    width: 10px;
    height: 10px;
}